NODE_ENV=development
PORT=8080
API_PREFIX=/api/v1
CLIENT_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/trustmeds
REDIS_URL=redis://127.0.0.1:6379

JWT_ACCESS_SECRET=replace_me_access_secret
JWT_REFRESH_SECRET=replace_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

AWS_REGION=ap-south-1
AWS_S3_BUCKET=trustmeds-prescriptions
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me

OTP_EXPIRY_SECONDS=300
OTP_BYPASS_CODE=123456
